<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="user-avatar"></span>
    <span class="mat-display-1 no-margin">
      {{ 'HEADER.FULL-NAME' | translate }}
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeLanguage('uk')" [disabled]="currentLanguage === 'uk'">
        <mat-icon>language</mat-icon>
        <span>Українська</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('en')" [disabled]="currentLanguage === 'en'">
        <mat-icon>language</mat-icon>
        <span>English</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('ru')" [disabled]="currentLanguage === 'ru'">
        <mat-icon>language</mat-icon>
        <span>Русский</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
