<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="user-avatar" (mouseover)="onAvatarHover($event)" (mouseleave)="onAvatarMouseLeave($event)">
      <img src="assets/images/koala.jpg" alt="Candidate avatar image">
    </span>
    <span class="mat-display-1 no-margin heading-full-name">
      {{ 'HEADER.FULL-NAME' | translate }}
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <mat-form-field class="left-right-spaces">
        <mat-label>{{ 'HEADER.CHOOSE-LANGUAGE' | translate }}</mat-label>
        <mat-select [(value)]="selectedLang" (selectionChange)="changeLanguage(selectedLang)" [className]="selectedLang">
          <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang" >
            <span>{{ getLangLabel(lang) }}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<div class="user-avatar-scaled" [ngClass]="showAvatar ? '' : 'hidden'" #scaledAvatar>
  <img src="assets/images/koala.jpg" alt="Candidate avatar image scaled">
</div>
