@import '../../styles/themes/dark-green-theme';

$light: 300;
$dark: 900;
$main-border-spacing: 1em;
$header-height: 64px;
$mobile-screen: 420px;

.container {
  color: white;
  width: 20%;
  min-width: 230px;
  background-color: mat-color($cv-app-primary, default);
  height: calc(100% - #{$header-height});
  max-height: calc(100% - #{$header-height});
  overflow-y: hidden;
  overflow-x: hidden;

  .left-panel {
    height: 100%;

    .left-panel-heading {
      background-color: mat-color($cv-app-primary, $dark);
    }

    .info-group {
      overflow-wrap: break-word;
    }

    .main-short-description,
    .left-panel-heading,
    .info-group,
    .skill-headline {
      padding: .5em $main-border-spacing;
    }

    .skill-progress {
      background-color: mat-color($cv-app-primary, $dark);
      margin-left: 1em;
      margin-right: 1em;
      height: 1em;
      width: auto;
      display: block;
    }

    .skill-mastery {
      right: 1em;
      margin-top: .5em;
    }

    .skill-group {
      margin-top: 1em;
      min-width: 12em;

      &:last-of-type {
        margin-bottom: 2em;
      }
    }

    .skill-group:first-of-type {
      margin-top: .5em;
    }

    .skills-body {
      overflow-y: auto;
    }

    .skill-headline {
      color: white;
      padding-left: 0;
      padding-right: 0;
    }

    .linkedin-link,
    .linkedin-link:link,
    .linkedin-link:visited,
    .linkedin-link:hover,
    .linkedin-link:active,
    .email-link,
    .email-link:link,
    .email-link:visited,
    .email-link:hover,
    .email-link:active,
    .phone-link,
    .phone-link:link,
    .phone-link:visited,
    .phone-link:hover,
    .phone-link:active,
    .address-link,
    .address-link:link,
    .address-link:visited,
    .address-link:hover,
    .address-link:active {
      text-decoration: none;
      color: white;
    }
  }
}

.right-panel {
  color: black;
  top: 64px;
  margin-top: .5em;
  position: absolute;
  margin-right: 1em;

  .experience-panel-heading,
  .education-panel-heading {
    color: mat-color($cv-app-primary, $dark);
    border-top: 1px solid mat-color($cv-app-primary, $dark);
    border-bottom: 1px solid mat-color($cv-app-primary, $dark);
  }

  .experience-panel,
  .education-panel {
    margin-top: 1.5em;
  }

  .experience-panel-data,
  .education-panel-data {
    margin-top: 1.5em;
  }
}

@media all and (max-width: $mobile-screen) {
  html, body, .container, .right-panel {
    overflow-y: auto !important;
  }

  .container {
    width: 100% !important;
    max-height: unset !important;
  }

  .right-panel {
    margin-bottom: 2em;
    position: absolute;
    top: unset !important;

    padding-left: 1em !important;
    padding-right: 1em !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .skills-body {
    min-height: 10em;
  }

  .skills-body-list, .container {
    max-height: unset !important;
    height: auto !important;
  }

  .left-panel, .skills-body, .right-panel {
    max-height: 100% !important;
    height: 100% !important;
  }

  .education-panel-header, .experience-panel-header {
    height: 6em !important;
  }

  .limited-mobile-width {
    max-width: 5em;
  }

  .education-panel {
    height: 100%;
    max-height: 100%;
  }
}
